.poll-template .poll-clear{clear: both;}
.poll-template .poll-title {font: bold 14px/16px arial,sans-serif,helvetica; margin-bottom: 5px;}
.poll-template .poll-description {text-align: justify; margin-bottom: 10px;}
.poll-template .poll-meta {background-color: #eee; font: bold 11px/12px arial,sans-serif,helvetica; border: 1px solid #ccc; padding: 0 5px; margin: 10px 0;}
.poll-template .poll-meta div {margin: 5px 0;}
.poll-template .poll-content, .poll-template .poll-content li {list-style: none; list-style-image: none;}
.poll-template .poll-content input {margin-right: 5px;}
.poll-template .poll-content li {margin: 10px 0;}
.poll-template .poll-content-grid {width: 100%;}
.poll-template .poll-content-grid thead tr th {padding: 5px 0; text-align: center;}
.poll-template .poll-content-grid tbody tr td {text-align: center;}
.poll-template .poll-content-grid tbody tr th {padding: 5px;}
.poll-template .poll-content-grid tbody tr th, .poll-template .poll-content-grid thead tr th {font: bold 12px/14px arial,sans-serif, helvetica; background-color: #eee;}
.poll-template .poll-pie-chart-wrapper {text-align: center; margin: 0 auto;};
.poll-template .poll-resources {margin-left: 22px;}
.poll-template .poll-notice {margin-top: 5px; border: 1px solid #ccc; padding: 5px;}

.poll-template .poll-bar-chart {margin: 20px 0 10px 0; text-align: left;}
.poll-template .poll-bar-chart .poll-answer-title {font: bold 100%/110% arial,sans-serif, helvetica; margin: 0 0 5px 0;}
.poll-template .poll-bar-chart .poll-bar-wrapper {background-color: #F7F7F7; background-image: -moz-linear-gradient(center top , #F5F5F5, #F9F9F9); background-repeat: repeat-x;
	border-radius: 4px 4px 4px 4px; height: 18px; margin-bottom: 18px; overflow: hidden; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;} 
.poll-template .poll-bar-chart .poll-bar-wrapper .poll-bar-block {background-repeat: repeat-x; -moz-box-sizing: border-box; -moz-transition: width 0.6s ease 0s; background-repeat: repeat-x; color: #FFFFFF; font-size: 11px; height: 18px;
	text-align: center; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); width: 0; box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15) inset; 
	background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);}
.poll-template .poll-bar-chart .poll-bar-wrapper .poll-bar-pct {float: right; font-size: 75%; line-height: 18px; margin-right: 3px; padding-bottom: 3px;vertical-align: top;}
