table.tabtable-rs_1vt85sq3  { border-width: 1px;
border-color: #000000;
border-style: solid; } 
table.tabtable-rs_1vt85sq3 tr  { border: none; } 
table.tabtable-rs_1vt85sq3  { 
border-collapse:collapse;width:100%;background-color: transparent;}
table.tabtable-rs_1vt85sq3 tr.tabrow td.tabcol  { 
font-style: normal;font-weight: normal;padding: 5px;background-color:#dbe5f1;}
table.tabtable-rs_1vt85sq3 tr.tabcustom1 td.tabcol  { 
font-style: normal;font-weight: normal;background-color:#ebf1dd;}
