table.tabtable-rs_k05lj4aw  { border-width: 1px;
border-color: #000000;
border-style: solid; } 
table.tabtable-rs_k05lj4aw tr  { border: none; } 
table.tabtable-rs_k05lj4aw  { 
border-collapse:collapse;width:100%;background-color: transparent;}
table.tabtable-rs_k05lj4aw tr.tabrow td.tabcol  { 
font-style: normal;font-weight: normal;padding: 5px;background-color: transparent;}
table.tabtable-rs_k05lj4aw tr:nth-child(even) td.tabcol  { 
font-style: normal;font-weight: normal;background-color:#dbe5f1;}
table.tabtable-rs_k05lj4aw tr.tabrow:hover td.tabcol  { 
font-style: normal;font-weight: normal;background-color:#eeece1;}
table.tabtable-rs_k05lj4aw tr.tr_ht1 td.tabcol, table.tabtable-rs_k05lj4aw tr.tr_ht1:hover td.tabcol, table.tabtable-rs_k05lj4aw tr.tr_ht1 td.tabcol:hover  { 
font-style: normal;font-weight: normal;color: #ffffff;background-color:#1f497d;}
