table.tabtable-rs_yhkl5rg1  { border-width: 1px;
border-color: #000000;
border-style: solid; } 
table.tabtable-rs_yhkl5rg1 tr  { border: none; } 
table.tabtable-rs_yhkl5rg1  { 
border-collapse:collapse;width:100%;background-color: transparent;}
table.tabtable-rs_yhkl5rg1 tr.tabrow td.tabcol  { 
font-style: normal;font-weight: normal;padding: 5px;background-color: transparent;border-width: 1px;
border-color: #000000;
border-style: solid;}
table.tabtable-rs_yhkl5rg1 tr:nth-child(even) td.tabcol, table.tabtable-rs_yhkl5rg1 tr:nth-child(even) td  { 
font-style: normal;font-weight: normal;background-color:#ebf1dd;}
table.tabtable-rs_yhkl5rg1 tr.tabrow:hover td.tabcol, table.tabtable-rs_yhkl5rg1 tr.tabrow:hover td  { 
font-style: normal;font-weight: normal;background-color:#eeece1;}
table.tabtable-rs_yhkl5rg1 tr.tr_ht1 td.tabcol, table.tabtable-rs_yhkl5rg1 tr.tr_ht1:hover td.tabcol, table.tabtable-rs_yhkl5rg1 tr.tr_ht1 td.tabcol:hover  { 
font-style: normal;font-weight: normal;color: #ffffff;background-color:#1f497d;}
