/**
 * Icon paths
 */

 $icon-path: "../../koowa/framework/fonts";
 $k-icon-path: '../../koowa/framework/fonts';
 $j4-fa-font-path: "../../koowa/com_koowa/scss/joomla4/vendor/fontawesome-free/webfonts";
 $j5-fa-font-path: "../../koowa/com_koowa/scss/joomla5/vendor/fontawesome-free/webfonts";
