<div class="feed-item-cover">
	<div class="date col-xs-3 col-sm-2">{{created_day}} </br> {{created_date_month}}</div>
	<div class="feed-item col-xs-9 col-sm-10">
		<div class="feed-item-inner">
			<div class="language en-GB">'{{actor.name}}' has archived the licence for '{{object.agency}}'</div>
			<hr />
		</div>
	</div>
</div>


