.icon-48-slavewebsites {
      background-image: url(../images/l_slavewebsites.png);
      padding-left:60px!important;
}

.icon-48-slavewebsite {
      background-image: url(../images/l_slavewebsites.png);
      padding-left:60px!important;
}

